BR2_hexagon=y
BR2_HEXAGON_v73=y
BR2_SHARED_LIBS=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_CLANG=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="https://artifacts.codelinaro.org/artifactory/codelinaro-toolchain-for-hexagon/22.1.4_/clang+llvm-22.1.4-cross-hexagon-unknown-linux-musl.tar.zst"
BR2_TOOLCHAIN_EXTERNAL_REL_BIN_PATH="x86_64-linux-gnu/bin"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="hexagon-unknown-linux-musl"
BR2_TOOLCHAIN_EXTERNAL_CLANG_21_0=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_6_13=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_MUSL=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_DOWNLOAD_FORCE_CHECK_HASHES=y
BR2_ROOTFS_DEVICE_CREATION_STATIC=y
BR2_ROOTFS_POST_BUILD_SCRIPT="board/qcom/sa8775/post_build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/qcom/sa8775/post_image.sh"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_ZLIB=y
BR2_PACKAGE_LOCKDEV=n
BR2_PACKAGE_LIBEVENT=n
BR2_PACKAGE_ATFTP=n
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_LSH=y

BR2_PACKAGE_BASH=y
BR2_PACKAGE_ZSH=y

BR2_PACKAGE_LIQUID_DSP=y
BR2_PACKAGE_DAV1D=y
BR2_PACKAGE_CMAKE=y
BR2_PACKAGE_LUA=y
BR2_PACKAGE_GNURADIO_FFT=y
BR2_PACKAGE_EIGEN=y

BR2_RELRO_NONE=y

BR2_PACKAGE_XINETD=n
BR2_PACKAGE_COREUTILS=y
BR2_PACKAGE_COREMARK=y
BR2_PACKAGE_HEXAGONMVM=n

# Mesa3D with Vulkan support
BR2_PACKAGE_MESA3D=y
BR2_PACKAGE_MESA3D_LLVM=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_SOFTPIPE=y
BR2_PACKAGE_MESA3D_VULKAN_DRIVER_SWRAST=y
BR2_PACKAGE_MESA3D_OPENGL_EGL=y
BR2_PACKAGE_MESA3D_OPENGL_ES=y
BR2_PACKAGE_VULKAN_LOADER=y
BR2_TARGET_ROOTFS_TAR_GZIP=y
BR2_TARGET_ROOTFS_INITRAMFS=y

BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://git.kernel.org/pub/scm/linux/kernel/git/bcain/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="hexagon-qemu-boot-04-july-2026"
BR2_LINUX_KERNEL_DEFCONFIG="qemu"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/qcom/sa8775/linux.fragment"
