BR2_hexagon=y
BR2_HEXAGON_v73=y
BR2_SHARED_LIBS=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_CLANG=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="https://artifacts.codelinaro.org/artifactory/codelinaro-toolchain-for-hexagon/19.1.2/clang+llvm-19.1.2-cross-hexagon-unknown-linux-musl.tar.xz"
BR2_TOOLCHAIN_EXTERNAL_REL_BIN_PATH="x86_64-linux-gnu/bin"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="hexagon-unknown-linux-musl"
BR2_TOOLCHAIN_EXTERNAL_CLANG_19_0=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_6_7=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_MUSL=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_DOWNLOAD_FORCE_CHECK_HASHES=y
BR2_ROOTFS_DEVICE_CREATION_STATIC=y
BR2_ROOTFS_POST_BUILD_SCRIPT="board/qcom/sa8775/post_build.sh"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_ZLIB=y
BR2_PACKAGE_LOCKDEV=n
BR2_PACKAGE_LIBEVENT=n
BR2_PACKAGE_ATFTP=n
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_LSH=y

BR2_PACKAGE_BASH=y
BR2_PACKAGE_ZSH=y

BR2_PACKAGE_LIQUID_DSP=y
BR2_PACKAGE_GNURADIO_FFT=y


BR2_PACKAGE_XINETD=n
BR2_PACKAGE_COREUTILS=y
BR2_PACKAGE_HEXAGONMVM=y
BR2_TARGET_ROOTFS_TAR_GZIP=y
BR2_TARGET_ROOTFS_INITRAMFS=y

BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://git.kernel.org/pub/scm/linux/kernel/git/bcain/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="bcain-boot-qemu-4.2-01-Nov-2024"
BR2_LINUX_KERNEL_DEFCONFIG="qemu"

#BR2_PACKAGE_LINUX_TOOLS_IIO=y
#BR2_PACKAGE_LINUX_TOOLS_PERF=y
#BR2_PACKAGE_LINUX_TOOLS_GPIO=y
#BR2_PACKAGE_LINUX_TOOLS_RTLA=y
#BR2_PACKAGE_LINUX_TOOLS_SELFTESTS=y
